@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair", serif;
}
body{
    background-color:#bbc6fa;
}
.Quote-Box{
    background-color:#fff;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;

box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
   
}
.Quote-Box h2{
     font-size: 32px;
     margin-bottom: 40px;
     position: relative;
}
.Quote-Box h2::after{
    content: "";
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23,124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.Quote-Box blockquote{
    font-size: 26px;
    min-height: 110px;

}
.Quote-Box blockquote::before, .Quote-Box blockquote::after{
       content: '"';

}
.Quote-Box span{
    display: block;
    margin-top: 10%;
    float: right;
    position: relative;
}
.Quote-Box span::before{
    content: "";
    width: 20px;
    height: 2px;
    background: rgb(23,124,229);
    position: absolute;
    top: 50%;
    left: -30px;
}
.btn{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.btn button{
    background: rgb(23,124,229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23,124,229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.btn button img{
    width: 20px;
    margin-right: 10px;
}
.btn button:nth-child(2){
    background-color: transparent;
    color: #333;
}